.bbs-navbar .active{
    background-color: rgb(82, 82, 78);
}
.bbs-navbar-a{
    width: 100px;
    text-align: center;
    padding: 0 !important;    
    height: 50px;
    line-height: 50px;
    color: white;
}
.bbs-navbar-a:hover{
    background-color: rgb(82, 82, 78);
    color: white;
}

.carouse_main_img{
    height: 300px;
    width: 100%;
}

.bbs_tabs{
    margin:0;
}
.bbs_tabs li {
    font-size: 14px;
    display: inline-block;
    width: 60px;
    text-align: center;
}
.bbs_tabs li a {
    text-decoration: none;
}
.bbs_tabs li:hover {
    border:none;border-bottom:2px solid #155faa;
}

.article_list{
    width: 100%;
}
.article_item{
    margin-top: 10px;
    width: 100%;
    height:65px;
    display: block;
    float: none;
}
.article_item_head{
    height:50px;
    width:50px;
}
.article_item_content{
    font-size: 14px;
}

.article_item_content h4{
    font-size: 16px;
}

.article_item_content p{
    font-size: 14px;
}