<component name="libraryTable">
  <library name="spring-aop-4.3.6.RELEASE">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/spring-aop-4.3.6.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/spring-aspects-4.3.6.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/spring-beans-4.3.6.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/spring-context-4.3.6.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/spring-core-4.3.6.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/spring-expression-4.3.6.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/spring-jdbc-4.3.6.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/spring-test-4.3.6.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/spring-tx-4.3.6.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/spring-web-4.3.6.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/spring-webmvc-4.3.6.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/web/WEB-INF/lib/standard.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>